*{
    margin: 0;
}
.flex-container{
    display: flex;
    flex-direction: row;
}
#main-left{
    width: 40vw;
}
#main-right{
    width: 60vw;
}
.flex-item{
    width: 50vw;
    height: 100vh;
    border: 1px solid black;
}